  .grid-container {
      display: grid;
      grid-template-areas:
          'header header header header header header'
          'menu main main main main main'
          'menu footer footer footer footer footer';
      gap: 0px;
      background-color: rgb(9, 25, 170);
      padding: 10px;
      height: 1000px;
      width: 800px;
  }

  .grid-container>div {

      /* color: #000; */
      padding: 10px;
      font-size: 30px;
      text-align: center;
  }

  .item1 {
    grid-area: header;
    font-size: 50px;
    background-color: rgb(237, 237, 245);

  }

  .item2 {
    grid-area: menu;
    background-color: #807d7d;
    position: relative;
    left: 10px;
    top: -250;
  }

  .item3 {
      grid-area: main;
      background-color: rgb(237, 237, 245);
  }


  .item4 {
      grid-area: footer;
      background-color: rgb(237, 237, 245);
  }